<ul id="tab-list">
  <li class="clickable sel">Welcome</li>
  <li class="clickable notsel">Calendar</li>
  <li class="clickable notsel">Watching</li>
</ul>

<div class="tab">
  <div>
  	<%= render 'welcome' %>
  </div>
  <div style="display: none;">
  	<%= render 'calendar' %>
  </div>  
  <div style="display: none;">
  	Comming soon
  </div>  
</div>



