<% if flash[:notice].present? || flash[:alert].present? %>
  <div class="flash">
    <p><%= flash[:notice] || flash[:alert] %></p>
    <%# hack for dumb rails bug; flash should only be shown once %>
    <% flash[:notice] = nil %>
    <% flash[:alert] = nil %>
  </div>
<% end %>

<ul id="tab-list">
  <li class="clickable sel">Welcome</li>
  <li class="clickable notsel">Calendar</li>
  <li class="clickable notsel">Watching</li>
  <% if current_user.admin? %>
    <li class="clickable notsel">Admin Panel</li>
  <% end %>
</ul>
</ul>

<div class="tab">
  <div>
  	<%= render 'welcome' %>
  </div>
  <div style="display: none;">
  	<%= render 'calendar' %>
  </div>  
  <div style="display: none;">
  	Comming soon
  </div>  

  <% if current_user.admin? %>
    <div style="display: none;">
      <%= render 'admin' %>
    </div>  
  <% end %>
</div>



