
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Welcome</a></li>
    <li><a href="#tabs-2">Calendar</a></li>
  </ul>
  <div id="tabs-1">
    <%= render 'welcome' %>
  </div>

  <div id="tabs-1">
    <%= render :action => 'display' %>
  </div>  
</div>

<%= javascript_include_tag params[:controller] %>
