

<ul>
  <li id="tab1" class="clickable sel">Welcome</li>
  <li id="tab2" class="clickable notsel">Calendar</li>
</ul>
<div class="tab">
  <div id="tabs-1">
  	<%= render 'welcome' %>
  </div>
  <div id="tabs-2" style="display: none;">
  	<%= render 'display' %>
  </div>  
 </div>


