
<div id="tabs">
  <ul>
    <li><%= link_to "Welcome", welcome_calendar_index_path %></li>
    <li><%= link_to "Calendar", display_calendar_index_path %></li>
  </ul>
  <div id="tabs-1">
  </div>
</div>

<%= javascript_include_tag params[:controller] %>
