<%= stylesheet_link_tag :calendar_entries%> 

<div class="bubble" style="width:900px;">
	<h1>New entries</h1>

	<%= render 'form_batch' %>

	<%= link_to 'Back', dashboard_index_path, :class => "button align" %>
</div>
