<div class="bubble">
	<h2>Sorry!  You have no open habitat slots!  Relase a tanuki to adopt another one</h2>

	<%= link_to 'Back', profile_index_path, :class => "button", :style => "float:right" %>
</div>
