/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

$charcoal: #333;
$leaf: #C0CE80;
$grass: #2A6629;
$hemp: #7F8C55;
$olive: #1A3F1A;

$shadow: rgba(26,63,26,0.2);

html { 
	overflow-y: scroll;
}

* {
	font-family: Tahoma, Geneva, sans-serif;
}

h1 {
	margin-top:0px;
	background-image: url('leaf-l.gif');
	background-repeat: no-repeat;
	padding-left: 35px;
	background-position: 0px 10px;
}

h2 {
	margin-top:0px;
	background-image: url('leaf-r.gif');
	background-repeat: no-repeat;
	padding-left: 35px;
	background-position: 0px 5px;	
	margin-bottom: 15px;
}

h3 {
	margin-top:0px;
	margin-bottom: 15px;
}

h4 {
	margin-top:0px;
	margin-bottom: 15px;
}

body {
	margin: 0;
	background-image: url('leaf-pattern-back.jpg');
	background-repeat: repeat;
}

#user_nav {
	padding-top:20px;
	padding-bottom:20px;
	padding-left: 100px;
	padding-right: 100px;
	border-bottom: 1px solid $hemp;
	box-shadow: 0px 5px 5px $shadow;
	min-width: 760px;

	background: #e4efc0; /* Old browsers */
	background: -moz-linear-gradient(top, #e4efc0 0%, #e4efc0 0%, #e0eaaf 5%, #abbd73 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4efc0), color-stop(0%,#e4efc0), color-stop(5%,#e0eaaf), color-stop(100%,#abbd73)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e4efc0 0%,#e4efc0 0%,#e0eaaf 5%,#abbd73 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e4efc0 0%,#e4efc0 0%,#e0eaaf 5%,#abbd73 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e4efc0 0%,#e4efc0 0%,#e0eaaf 5%,#abbd73 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e4efc0 0%,#e4efc0 0%,#e0eaaf 5%,#abbd73 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4efc0', endColorstr='#abbd73',GradientType=0 ); /* IE6-9 */
}

.indent {
	padding-left: 25px;
}

.indent-small {
	padding-left: 15px;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.clickable {
	cursor: pointer;
}

.bubble {
	border-radius: 5px;
	color: $charcoal;
	border: 1px solid $leaf;
	padding: 10px;
	margin: 10px 10px 0 0;

	background: #feffe8; /* Old browsers */
	background: -moz-linear-gradient(top, #feffe8 0%, #d6dbbf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffe8), color-stop(100%,#d6dbbf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #feffe8 0%,#d6dbbf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #feffe8 0%,#d6dbbf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #feffe8 0%,#d6dbbf 100%); /* IE10+ */
	background: linear-gradient(to bottom, #feffe8 0%,#d6dbbf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#d6dbbf',GradientType=0 ); /* IE6-9 */
}

a {
	color: $olive;
	text-decoration: none;
}

button {
	border-radius: 0;
	border: none;
	font-size: 12px;
	padding: 0;
	background: none;
	background-color: transparent;
}

.button {
	border-radius: 5px;
	border: 1px solid $grass;
	font-size: 12px;
	padding: 5px;
	display: inline-block;

	background: #c9de96; /* Old browsers */
	background: -moz-linear-gradient(top, #c9de96 0%, #8ab66b 44%, #398235 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(44%,#8ab66b), color-stop(100%,#398235)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%); /* IE10+ */
	background: linear-gradient(to bottom, #c9de96 0%,#8ab66b 44%,#398235 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
}

#container{
	padding-bottom: 30px;
	padding-top: 30px;
	width: 910px;
	margin: 0 auto; 
}

.tab{
	border-radius: 0 5px 5px 5px;
	padding: 10px 0 10px 10px;
	margin-top: 10px;
	min-height: 330px;
	border: 1px solid $leaf;
	position: relative;
	top: -6px;

	background: #f9ffed; /* Old browsers */
	background: -moz-linear-gradient(top, #f9ffed 1%, #e5f4d4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f9ffed), color-stop(100%,#e5f4d4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f9ffed 1%,#e5f4d4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f9ffed 1%,#e5f4d4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f9ffed 1%,#e5f4d4 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f9ffed 1%,#e5f4d4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9ffed', endColorstr='#e5f4d4',GradientType=0 ); /* IE6-9 */
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;	
	z-index: 5;

	li {
		display: inline;
		border-top: 1px solid $leaf;			
		border-left: 1px solid $leaf;
		border-right: 1px solid $leaf;		
		padding: 5px 15px 5px 15px;
		background-color: #f9ffed;
		border-radius: 5px 5px 0 0;
	}

	.notsel {
		border-bottom: 1px solid $leaf;	
	}		

	.sel {
		border-bottom: 1px solid #f9ffed;		
	}
}


