// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$charcoal: #333;
$smoke: #F8FCF2;
$fade: #E5EFD5;

div.today {
	color: #E0561B;
}

table.records tr th.header {
	width: 100px;
}

.todo.bubble {
  position: relative;
	
	a#new{
	  position: absolute;
	  bottom: 10px;
	}
}

tr {
	font-size:13px;
}

.header {
	text-align: left;
}

div.board {
	display: inline-block;

	div.calendar {
		display: inline-block; 
	 	background-color: $charcoal;
		font-size: 11px;

		table tbody {
			tr {
				width: inherit;
				font-size:11px;
			}
		
			tr.header {
				td.header {
					width:14.28%; 
					text-align:center; 
					display:table-cell;
				
					div {
						$h: 20px;
						width:90px;
						height:$h;
						background-color: $smoke;
						line-height:$h;
					}
				}
			}
		
			tr td {
				text-align:center;	
				
				div {
					height: 50px;
				}
				div:not(wday) {
					background-color: $fade;
				}
				div.wday {
					background-color: $smoke;
					text-align: left;
				}
			}
		}
	}

	div.todo {
		display: inline-block; 
	 	background-color: $charcoal;
		padding-left: 10px;

		ul {
			li {

			}
		}
	}	
}