// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$charcoal: #333;
$leaf: #C0CE80;
$grass: #2A6629;
$hemp: #7F8C55;
$olive: #1A3F1A;

$charcoal: #333;
$smoke: #F8FCF2;
$fade: #E5EFD5;

div.today a {
	color: #E0561B;
}

table.records tr {
	height: 30px;

	th.header {
		width: 100px;
	}
}

.todo.bubble {
  position: relative;
  margin-right: 0;
	width: 194px; 
	height: 427px; 
	max-height: 427px; 
	margin-top: 0px; 
	position: relative; 
	top: 10px;
	
	a#new{
	  position: absolute;
	  bottom: 10px;
	}
}

tr {
	font-size:13px;
}

.header {
	text-align: left;
}

div.board {
	display: inline-block;

	div.calendar {
		display: inline-block; 
	 	background-color: $charcoal;
		font-size: 11px;

		table tbody {
			tr {
				width: inherit;
				font-size:11px;
			}
		
			tr.header {
				td.header {
					width:14.28%; 
					text-align:center; 
					display:table-cell;
				
					div {
						$h: 20px;
						width:90px;
						height:$h;
						background-color: $smoke;
						line-height:$h;
					}
				}
			}
		
			tr td {
				text-align:center;	
				
				div {
					height: 50px;
				}
				div:not(wday) {
					background-color: $fade;
				}
				div.wday {
					background-color: $smoke;
					text-align: left;
				}
			}
		}
	}

	div.todo {
		display: inline-block; 
	 	background-color: $charcoal;
		padding-left: 10px;

		ul {
			li {

			}
		}
	}	
}

#popupContact {
	display: none; 
	position: absolute; 
	top: 403px; 
	left: 189.5px; 
	opacity: 1; 
	-webkit-transition: none;
}

#backgroundPopup {
	opacity: 0.8; 
	-webkit-transition: none; 
	float: left; 
	width: 1111px; 
	height: 1112px; 
	z-index: 100; 
	position: absolute;
	top: 0px; 
	left: 0px;
	background-color: $smoke;
	display: none;
}

.tanukiStatus {
  width: 500px;
  margin: auto;
  height: 50px;

  img {
  	float: left;
  }

  h4 {
  	padding-top: 15px;
  	padding-left: 60px;
  	width: 400px;

  }
}

.earned {
	float:right;
}

img#tanuki {
}


