<ul id="tab-list">
  <li class="clickable sel">Profile Settings</li>
  <li class="clickable notsel">Account Settings</li>
  <li class="clickable notsel">Tanuki Cave</li>
  <li class="clickable notsel">Friends</li>
</ul>
<div class="tab">
  <div>
  	Comming soon
  </div>
  <div style="display: none;">
  	<%= render 'devise/registrations/edit' %>
  </div>  
  <div style="display: none;">
  	<%= render 'tanukis' %>
  </div>  
  <div style="display: none;">
  	Comming soon
  </div>    
 </div>
